{% extends 'bootstrap4/bootstrap4.html' %}
{% load bootstrap4 %}


{% block bootstrap4_extra_head %}
    <title>{% block page_title %}Django Minisite{% endblock %}</title>
{% endblock %}


{% block bootstrap4_content %}
    <nav class="navbar navbar-light navbar-expand-xs bg-light">
        <div class="container">

            <a class="navbar-brand" href="{% url 'minisite:index' %}">
                <img src="https://www.djangoproject.com/m/img/logos/django-logo-negative.svg"
                     height="30" class="d-inline-block align-top" alt="Django" style="margin-right: .5rem;">
                Django test site
            </a>

            {% if user.is_authenticated %}
                <div>
                    <span class="navbar-text" style="margin-right: .5rem;">Welcome, <strong>{{ user.username }}</strong></span>
                    {% if user.is_superuser %}
                        <a class="btn btn-sm btn-primary align-baseline" href="{% url 'admin:index' %}">Admin</a>
                    {% endif %}
                    <a class="btn btn-sm btn-secondary align-baseline" href="{% url 'minisite:logout' %}">Logout</a>
                </div>
            {% else %}
                <span class="navbar-text">Please <a href="{% url 'minisite:login' %}">log in</a></span>
            {% endif %}
        </div>
    </nav>

    <div class="container" style="margin-top: 5%; margin-bottom: 5rem;">
        {% block nav %}{% endblock %}

        <h2 class="page-header" style="margin-bottom: .5rem;">{% block title %}{% endblock %}</h2>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>
{% endblock %}