{% extends 'base.html' %}
{% load bootstrap4 %}
{% load wikify %}


{% block page_title %}{{ node.title }}{% endblock %}
{% block title %}{{ node.title }}{% endblock %}

{% block nav %}
    {% url 'minisite:index' as home_url %}

    <nav aria-label="breadcrumb" role="navigation" style="margin-bottom: 2rem;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ home_url }}">Home</a></li>
            {% for ancestor in node.get_ancestors %}
                <li class="breadcrumb-item parent-{{ forloop.counter }}" id="id{{ ancestor.pk }}">
                    <a href={% url 'minisite:node_detail' ancestor.get_path %}>{{ ancestor.title }}</a>
                </li>
            {% endfor %}
            <li class="breadcrumb-item active" aria-current="page">{{ node.title }}</li>
        </ol>
    </nav>
{% endblock %}


{% block content %}
    <p class="node-content">{{ node.content|wikify|safe }}</p>

    <p style="margin-bottom: 3rem; text-align: right;">
        <a class="btn btn-secondary" href="{% url 'minisite:node_edit' node.get_path %}">Edit</a>
    </p>

    <div class="node_tree-container">
        <h3 class="node_tree-header">Sub-nodes:</h3>
        {% if not node.is_leaf and subnodes %}
            <!-- Show subnodes -->
            {% include "nodes/fragment-node_tree.html" with nodes=subnodes only %}
        {% endif %}
        <a class="btn btn-primary" href="{% url 'minisite:node_add_subnode' node.get_path %}">Add sub-node</a>
    </div>

{% endblock %}
