{% if nodes %}
    <div class="node_tree">
        {% for node, meta in nodes %}
            {# Open a new list if requested by metadata #}
            {% if meta.open %}
                <ul class="node_tree-list list-unstyled" style="margin-left: 1.5rem;"><li>
            {% else %}
                </li><li>
            {% endif %}

            <a href="{% url 'minisite:node_detail' node.get_path %}">
                {{ node.title }}
            </a>

            {# Close all lists requested by metadata #}
            {% for close in meta.close %}
                </li></ul>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}