{% extends 'base.html' %}
{% load bootstrap4 %}

{% block page_title %}Home{% endblock %}

{% block content %}

    <!-- Welcome -->
    <div class="jumbotron">
        <h2 class="display-3">Hello!</h2>
        <p class="lead">This is the home page. Please browse the nodes below.</p>
    </div>

    <!-- Nodes -->
    {% if nodes_list %}
        {% include "nodes/fragment-node_tree.html" with nodes=nodes_list only %}
        <p style="margin-left: 1.5rem;">
            <a class="btn btn-primary" href="{% url 'minisite:add' %}">Add new</a>
        </p>
    {% else %}
        <p>Sorry, no nodes</p>
        <p><a class="btn btn-primary" href="{% url 'minisite:add' %}">Add the first one</a></p>
    {% endif %}

{% endblock %}
